body {
  font-family: sans-serif;
}

.css-tttlff-MuiGrid2-root {
  max-width: 478px;
  text-align: center;
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root {
  width: 25%;
  height: 130px;
}

.css-jh47zj-MuiButtonBase-root-MuiButton-root p {
  text-align: right;
  margin-left: 99%;
}